---
layout: google
---

<section class="mt-15">

  <br />

  <p>
    We are committed to protecting your privacy and the security of your personal information. This Google data policy
    page
    explains what user data we collect and how we use it to enhance the functionality of our app for you.
  </p>
  <br />
  <p>
    When you sign in to our app using your Google account, we request access to two OAuth2 scopes:
    <em>https://www.googleapis.com/auth/userinfo.email</em> and
    <em>https://www.googleapis.com/auth/userinfo.profile</em>.
  </p>
  <br />
  <p>
    These
    scopes allow us to access:
  </p>
  <ul>
    <li>- your email address</li>
    <li>- your profile information</li>
    <li>- your name and profile picture</li>
  </ul>
  <br />
  <p>
    We use this information to distinguish your account from others and to personalize your experience in our app. For
    example, we may display your name or profile picture alongside your user account to help you easily identify your
    account from others, as well as understand the context that you're using the app in.
  </p>
  <br />
  <p>
    We take the protection of your personal information seriously and will only use it in accordance with this data
    policy
    and applicable laws. We do not sell or share your personal information with third parties for their own marketing
    purposes.
  </p>
  <br />
  <p>
    We hope that this data policy helps you understand how we use your information to enhance your experience with our
    app. If you have any questions or concerns, please don't hesitate to contact us.
  </p>
  <br />
  <p>If you are interested in exploring our privacy policy, it is available at</p>
  <a href="/privacy">https://laundrivr.com/privacy</a>
  <br />
  <br />
  <p>
    If you have any questions or suggestions about our
    Google Data Policy, do not hesitate to contact us
    at help@laundrivr.com.</p>
</section>